<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter_8_allminitask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter_8_allminitask">
        <activity
            android:name=".philippcourse.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".latihan.LoginLatihan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".philippcourse.Eps9"
            android:exported="false" />
        <activity
            android:name=".tutorlogin.ui.SignUpUi"
            android:exported="false" />
        <activity
            android:name=".tutorlogin.MainCompose"
            android:exported="false"
            android:label="@string/title_activity_main_compose"
            android:theme="@style/Theme.Chapter_8_allminitask" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".philippcourse.MainPhilippCourse"
            android:exported="false" />
        <activity
            android:name=".philippcourse.Eps1"
            android:exported="false" />
        <activity
            android:name=".tutorlogin.ui.LoginUi"
            android:exported="false" />
        <activity
            android:name=".philippcourse.Eps3"
            android:exported="false" />
    </application>

</manifest>